Soulgram.EventLogger/.idea/.idea.Soulgram.EventLogger/.idea/indexLayout.xml
Soulgram.EventLogger/.idea/.idea.Soulgram.EventLogger/.idea/vcs.xml
Soulgram.EventLogger/obj/project.assets.json
Soulgram.EventLogger/obj/project.nuget.cache
Soulgram.EventLogger/obj/project.packagespec.json
Soulgram.EventLogger/obj/rider.project.restore.info
Soulgram.EventLogger/obj/Soulgram.EventLogger.csproj.nuget.dgspec.json
Soulgram.EventLogger/obj/Soulgram.EventLogger.csproj.nuget.g.props
Soulgram.EventLogger/obj/Soulgram.EventLogger.csproj.nuget.g.targets
Soulgram.EventLogger/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.AssemblyInfo.cs
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.AssemblyInfoInputs.cache
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.assets.cache
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.csproj.AssemblyReference.cache
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.csproj.CoreCompileInputs.cache
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.csproj.FileListAbsolute.txt
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.GeneratedMSBuildEditorConfig.editorconfig
Soulgram.EventLogger/obj/Debug/net6.0/Soulgram.EventLogger.GlobalUsings.g.cs
Soulgram.EventLogger/.idea/.idea.Soulgram.EventLogger/.idea/projectSettingsUpdater.xml
Soulgram.EventLogger/.idea/.idea.Soulgram.EventLogger/.idea/workspace.xml
